* {
    font-family: 'Bebas Neue';

}
body {
    background-color: rgb(255, 255, 255);

}

#header-box {
    display: flex;
    text-decoration: black;
    font-size: 10px;
    width: 100%;
    /* text-shadow: 2px 2px rgb(86, 84, 84); */
    background-color: rgb(45, 170, 0);
    flex-direction: row;
    margin-bottom: 0;
}

.logo {
    margin-bottom: 0;
    margin-top: -25px;
}  

.logo img {
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

    .disney {
        display: flex;
        justify-content: center;
    }


#nav-home {
    /* float: right; */
    font-size: 30px;
    position:absolute;
    right:0;
    top: 20px;
    margin-right: 150px;
    color: rgb(255, 255, 255);
    }

   
