
body {
    font-family: 'Bebas Neue';
    background-color: rgb(255, 255, 255);
}

#header-box {
    display: flex;
    text-decoration: black;
    font-size: 10px;
    width: 100%;
    /* text-shadow: 2px 2px rgb(86, 84, 84); */
    background-color: rgb(45, 170, 0);
    flex-direction: row;
    margin-bottom: 0;
}

.logo {
    margin-bottom: 0;
    margin-top: -25px;
}  

.logo img {
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

    .netflix {
        display: flex;
        justify-content: center;
    }


    .blurb {
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
        color: rgb(208, 57, 52);
      }

#nav-home {
    /* float: right; */
    font-size: 30px;
    position:absolute;
    right:0;
    top: 20px;
    margin-right: 150px;
    color: rgb(255, 255, 255);
    }

    .movie-poster1 {
        margin-top: 20px;
    }
    .movie-poster2 {
        margin-top: 10px;
    }
    .movie-poster3 {
        margin-top: 20px;
    }

    .card-title {
        font-size: 30px;
    }

    .btn-light{
        width: 80%;
        font-size: 20px;
        color: white;
        background-color: rgb(208, 57, 52);
    }

    .btn-light:hover {
        background-color: rgb(246, 160, 157);
    }


    /* TRAILER DIVIDER BELOW */

    hr.rounded {
        border-top: 8px solid rgb(43, 102, 60);
        border-radius: 5px;
      }

      hr.dotted {
        border-top: 3px dotted rgb(43, 102, 60);
      }

      #movie-title h1{
        font-size: 50px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }

      .iframe {
        display: flex;
        justify-content: center;
       padding: 50px;
      }
