/* #header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-decoration: black;
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 2px 2px rgb(86, 84, 84);
} */

p {
font-size: 30px;
}

.dropdown-box {
 display: flex;
 justify-content: center;
 text-align: center;
 position: relative;
 flex-direction: column;
 margin-top: 30px;
}

.dropdown {
    justify-content: space-around;
    padding: 20px 40px;
}

.dropdown-toggle {
    width: 80%;
    background-color: rgb(210, 57, 57);
    padding: 10px;
    font-size: 30px;
    
}
.dropdown-toggle:hover {
    background-color: rgb(210, 57, 57);
}

.dropdown-item {
    width: 1110px;
    text-align: center;
    font-size: 30px;
}

.dropdown-item:hover {
    background-color: rgb(228, 141, 141);

}

.carousel-item{
    background-color: aqua;
}