

#header-box {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: black;
    font-weight: bolder;
    font-size: 10px;
    width: 100%;
    /* text-shadow: 2px 2px rgb(86, 84, 84); */
    background-color: rgb(255, 255, 255);
}

.logo{
    width: 100px;
        }
    
    .logo img{
    float: left;
    margin-left: 50px;

    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
   .intro {
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex: auto;
        font-size: 40px;
        padding-top: 100px;
        margin-left: 100px;
    }

    .body-text {
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex: auto;
        font-size: 20px;
    }
.dropdown-box {
 display: flex;
 justify-content: center;
 text-align: center;
 position: relative;
 flex-direction: column;
}

.dropdown {
    justify-content: space-around;
    padding: 60px 40px;
}

.dropdown-toggle {
    width: 80%;
    background-color: rgb(210, 57, 57);
    padding: 10px;
    font-size: 20px;
    
}
.dropdown-toggle:hover {
    background-color: rgb(210, 57, 57);
}

.dropdown-item {
    width: 1110px;
    text-align: center;
    font-size: 20px;
}

.dropdown-item:hover {
    background-color: rgb(228, 141, 141);

}

.carousel-item{
    background-color: aqua;
}

@media only screen and (min-width: 500px) {
    /* For phone: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  }
