* {
    font-family: 'Bebas Neue';
}

#header-box {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: rgb(255, 255, 255);
    font-size: 10px;
    /* width: 100%; */
    text-shadow: 1px 1px rgba(134, 134, 134, 0.63);
    background-color: rgb(255, 255, 255);
    margin-top: -70px;
}

.title .intro {
    font-size: 50px;
    margin-right: 0px;
    margin-bottom: -30px;
}

body {
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 100px;
        }
    
    .logo img{
        flex-direction: column;
    float: left;
    margin-left: 50px;
    margin-right: 40px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        color: rgb(0, 0, 0);
        
    }
   .intro {
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex: auto;
        font-size: 40px;
        padding-top: 100px;
        /* margin-left: 150px; */
    }

    /* .body-text {
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex: auto;
        font-size: 20px;
    } */
.dropdown-box {

 display: flex;
 /* justify-content: center; */
 text-align: center;
 /* position: relative; */
 flex-direction: column;

}

.dropdown-center {
    padding: 20px 40px;
    align-items: center;
}

.dropdown-toggle {
    width: 80%;
    background-color: rgb(45, 170, 0);
    padding: 10px;
    font-size: 20px;
    
}

.dropdown-menu {
width: 75.5%;

}



.dropdown-toggle:hover {
    background-color: rgba(160, 213, 140, 0.987);
}


.submit {
    width: 20%;
    background-color: rgb(10, 68, 29);
    padding: 10px;
    font-size: 20px;
    align-items: center;
   margin-bottom: 30px;
   margin-top: 10px;
}

.submit:hover {
    background-color: rgb(97, 148, 113);

}

.dropdown-item {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.dropdown-item:hover {
    background-color: rgba(160, 213, 140, 0.987);

}

.carousel-item{
    background-color: rgb(255, 255, 255);
}

.carousel-slide {
    display: flex;
    align-items: center;
    width:1920px;
  height:1080px;

}
  
  .d-block {
      top: 0;
      left: 0;
      width: 100%;
      height:350px;
      
  }

  @media only screen and (min-width: 500px) {
    /* For phone: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  }


  @media only screen and (min-width: 1290px) {
    .title .intro {
        flex-shrink: 1;
        flex-direction: column;
         flex-wrap: wrap;
     }
   } 

  @media only screen and (max-width: 1273px) {
 .title .intro .dropdown-menu {

   flex-wrap: wrap;
   flex-shrink: 3;
     }
   }

   @media only screen and (max-width: 900px){
    #header-box {
        display: flex;
    }
    .logo {
        display: block;
    }
    .title {
        flex-shrink: 3 !important;
    }
    .intro{
        display: none;
    }
   }
  
